* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: hsl(185, 41%, 84%);
    font-size: 1.6rem;
    width: 37.5rem;
    margin: 0 auto;
    font-family: 'Space Mono', monospace;
}

.logo {
    display: block;
    margin: 6rem auto;
}

.main {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 6rem;
}

.firstSection {

}

.bill, .selectTip, .numberOfPeople {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

label, .selectTip p {
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.selectTip .tipValues {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.selectTip .tipValues a {
    background-color: hsl(183, 100%, 15%);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    width: 16rem;
    border-radius: 0.3rem;
    padding: 1rem;
    text-align: center;
}

.selectTip .tipValues .btnCustom {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    /* filter: opacity(40%); */
}

input {
    background-color:hsl(185, 41%, 84%);
    border-radius: 0.3rem;
    padding: 1rem;
    text-align: end;
    color: hsl(183, 100%, 15%);
    font-size: 2.4rem;
    font-weight: 700;
    filter: opacity(40%);
}

.alignPeopleAndMessage {
    display: flex;
    justify-content: space-between;
}

.secondSection {
    background-color: hsl(183, 100%, 15%);
    padding: 2rem;
    border-radius: 1rem;
}

.alignTextResult {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    margin-bottom: 6rem;
    font-size: 1rem;
}

