* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

:root {
    font-size: 62.5%;
}

/* Mobile First */

body {
    background-color: hsl(185, 41%, 84%);
    font-size: 1.6rem;
    width: 37.5rem;
    margin: 0 auto;
    font-family: 'Space Mono', monospace;
}

.logo {
    display: block;
    margin: 6rem auto;
}

.main {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 6rem;
}

.bill, .selectTip, .numberOfPeople {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

label, .selectTip p {
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.selectTip .tipValues {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.selectTip .tipValues .btnPercentage {
    background-color: hsl(183, 100%, 15%);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    width: 16rem;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

.selectTip .tipValues a:hover {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    transition: 0.3s;
}

.selectTip .tipValues .inputCustom {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    font-size: 1.5rem;
    font-weight: 700;
    width: 16rem;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    /* filter: opacity(40%); */
}

input {
    background-color:hsl(185, 41%, 84%);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: end;
    color: hsl(183, 100%, 15%);
    font-size: 2.4rem;
    font-weight: 700;
}

.iconDollar {
    background-image: url("https://img.icons8.com/material-rounded/256/us-dollar.png");
    background-repeat: no-repeat;
    background-position: 2rem;
    background-size: 2.4rem;
    filter: opacity(40%);
}

.iconPerson {
    background-image: url("https://img.icons8.com/material-rounded/256/person-male.png");
    background-repeat: no-repeat;
    background-position: 2rem;
    background-size: 2.4rem;  
    filter: opacity(40%); 
}

/* Search about the solution above: 
https://pt.stackoverflow.com/questions/541540/colocar-imagem-em-input-em-html-e-css */

#alertMessage {
    color: red;
    font-size: 1.4rem;
    display: none;
}

.alignPeopleAndMessage {
    display: flex;
    justify-content: space-between;
}

.secondSection {
    background-color: hsl(183, 100%, 15%);
    padding: 2rem;
    border-radius: 0.5rem;
}

.alignTextResult {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.tipAmount p, .total p {
    color: white;
    font-weight: 700;
}

.tipAmount span, .total span {
    color: hsl(184, 14%, 56%);
    font-size: 1.2rem;
}

#tipResult, #totalResult {
    font-size: 2.8rem;
    font-weight: 700;
    color: hsl(172, 67%, 45%);
}

.buttonReset {
    background-color: hsl(183, 100%, 19%);
    color: hsl(183, 100%, 15%);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    width: 29.5rem;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-bottom: 6rem;
    font-size: 1rem;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
}

footer a {
    color:  hsl(183, 100%, 15%);
}

footer a:hover {
    color:  hsl(172, 67%, 45%);
    transition: .3s;
}

/* Desktop Version */

@media (min-width: 1400px) {
    body {
        width: 700px;
    }
    
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .firstSection {
        width: 315px;
    }

    .secondSection {
        width: 315px;
        height: 300px;
        border-radius: 1rem;
    }

    .selectTip .tipValues .btnPercentage {
        width: 9.5rem;
    }

    .selectTip .tipValues .inputCustom {
       width: 9.5rem; 
    }

    .buttonReset {
        width: 27.5rem;
        margin-top: 8rem;
    }
}